@using CodeBrosForum.Data.Models
@using Microsoft.AspNetCore.Identity
@model CodeBrosForum.Models.Forum.ForumTopicModel
@inject UserManager<ApplicationUser> UserManager


<div class="row card text-center">

    <div class="card-body">
        <div class="forum-logo" style="background-image:url(@Model.Forum.ImageUrl); background-size:100%; height: 80px; width: 80px;"></div>
        <h4 class="card-title h2">@Model.Forum.Name Forum</h4>
        
        <form asp-controller="Forum" asp-action="Search" method="post">   
                <label display-5>Search this forum</label>
                <input asp-for="SearchQuery" type="text" placeholder="Search..." class="form-control form-control-lg">
                <input asp-for="Forum.Id" name="id" type="hidden" />
        </form>
        <div class="card-text">
            <p class="lead">Welcome to the <strong>@Model.Forum.Name</strong> forum. Please keep posts friendly and on-topic.</p>
            <p>
                Please read the Forum Guidelines before creating a new post.
                @if (!Context.User.Identity.IsAuthenticated)
                {
                    <span class="callout-info">You must be a <a asp-area="Identity" asp-page="/Account/Register">registered member</a> to create a new post.</span>
                }
            </p>
            @if (Model.Posts.Any())
            {
                <span id="heading-btn">
                    <a asp-controller="Post" asp-action="Create" asp-route-id=@Model.Forum.Id class="btn btn-success">
            Create Post
            </a>
            </span>
            }
        </div>
    </div>
</div>

@if (Model.Posts.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Forum Title</th>
                <th>Author</th>
                <th>Date created</th>
                <th>Number of replies</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var post in Model.Posts)
        {
            <tbody>
                <tr>
                    <td>
                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">                            
                            @post.Title
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">@post.AuthorName  <span>(@post.AuthorRating)</span></a>
                    </td>
                    <td>@post.DatePosted</td>
                    <td>@post.RepliesCount</td>
                    @if(User.IsInRole("Admin") || post.AuthorId == UserManager.GetUserId(User))
                    {
                        <td>
                            <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-success">Edit</a>
                            <a asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger">Delete</a>
                        </td>
                    }
                </tr>

            </tbody>
        }
    </table>
}
else
{
    <div class="noPosts">
        <h3>
            It looks there are no @Model.Forum.Name posts yet. <br />
            Why not
            <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id">
                <span>Create</span>
                One?
            </a>
        </h3>
    </div>
}
